
body {
    margin: 0;
    width: 100%;
    height: 100vh;
}

.login-wrapper {
    
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
}

.wrapper-2 {
    width: 100%;
    height: 100%;
    padding-top: 8%;
    background-color: #f2f2f2;
}

.content-box {
    height: 100%;
    width: 55%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.left-column{
    width: 70%;
}

.logo {
    width: 50%;
    display: block;
}

.left-column > p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 160%;
    margin-top: 0px;
}

.right-column {
    width: 65%;
    position: relative;
    display: flex;
    flex-direction: column;
    left: 5%;
}

.right-column > form {
    width: 50%;
    height: 70%;
}

.login-box {
    text-align: center;
    background-color: white;
    border: 1px solid rgb(180, 179, 179);
    box-shadow: -5px 5px 14px rgb(175, 168, 168);
    border-radius: 7px;
    box-shadow: 30px;
    width: 150%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.input-box {
    margin-top: 3%;
    margin-bottom: auto;
    width: 94%;
    height: 15%;
    border: 1px solid rgb(180, 179, 179);
    border-radius: 9px;
}

::-webkit-input-placeholder {
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 130%;
    padding-left: 5%;
}

.login-button {
    font-family: Helvetica, sans-serif;
    font-size: 140%;
    font-weight: 600;
    color: white;
    background-color: #1877f2;
    width: 96%;
    height: 16%;
    margin-bottom: 3%;
}

.login-button:hover {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4) 0 0);
    cursor: pointer;
    transition: 0.5s ease;
}


.login-box > a {
    text-decoration: none;
    color: rgb(35, 121, 250);
    transition: all 0.3s ease 0s;
    font-family: Helvetica, sans-serif;
}

.login-box > hr {
    color: rgb(180, 179, 179);
    font-size: 40px;
    width: 95%;
    opacity: 50%;
}


.new-account {
    color: white;
    font-family: Helvetica, sans-serif;
    font-weight: 600;
    font-size: 100%;
    background-color: #42b72a;
    margin-bottom: 3%;
    margin-left: 25%;
    width: 50%;
    height: 13%;
    border: 2px solid rgb(180, 179, 179);
    border-radius: 5%;
}

.new-account:hover {
    transition: all 0.3s ease 0s;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4) 0 0);
    cursor: pointer;
}

.right-column  p {
    width: 130%;
    font-size: 80%;
    text-align: center;
    padding-left: 15%;
    padding-top: 5%;
    font-family: Helvetica, sans-serif;
}

.right-column a {
    color: black;
    text-decoration: none;
}


.footer > hr {
    width: 50%;
    opacity: 20%;
    margin-top: 0;
}

.footer ul {
    list-style: none;
    margin-bottom: 0;
    font-family: Helvetica, sans-serif;
    padding-left: 2%;
}

.languages {
    width: 50%;
    display: flex;
    position: relative;
    left: 25%;
    
}


.languages li {
    color:#737373;
    font-size: 12px;

}

.links ul {
    margin-top: 0;
}

@media screen and (max-width: 800px) {
    .content-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start
    }

   .left-column > p {
    display: none;
    }
    .logo{
        margin-left: 40%;
    }

    .login-box {
        width: 200%;
    }
    .new-account {
        margin: auto;
    }
